thead,tr,th,table,tbody,td,tfoot{
border:none !important;
}
.no-padding .DataGrid{
border:none;
}
.DataGrid table{
border-collapse:separate;
table-layout:fixed;
position:relative;
border-spacing:0px 0px;
width:100%;
}
.DataGrid table thead  tr.cg_header th, .DataGrid table tbody  tr td{
padding:0px 5px;
border-right:1px solid #CCCCCC;
border-left:1px solid #fff;
vertical-align:middle;
}
.DataGrid table tbody  tr td.searchableGrid:hover{
padding:0px 5px;
border:1px solid #A3EAFF;
vertical-align:middle;
background:#E2E2DC;
cursor:pointer;
}
.DataGrid .data{
background:rgb(255,255,255);
/* Old browsers */
/*linear-gradient*/
background:-webkit-gradient(linear,0 0,100% 100%,color-stop(rgba(255,255,255,1),0),color-stop(rgba(241,241,241,1),0.4),color-stop(rgba(225,225,225,1),0.56),color-stop(rgba(246,246,246,1),1));
background:-webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 40%, rgba(225,225,225,1) 56%, rgba(246,246,246,1) 100%);
background:   -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 40%, rgba(225,225,225,1) 56%, rgba(246,246,246,1) 100%);
background:     -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 40%, rgba(225,225,225,1) 56%, rgba(246,246,246,1) 100%);
background:        linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 40%, rgba(225,225,225,1) 56%, rgba(246,246,246,1) 100%);
/* FF3.6+ */
background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(40%,rgba(241,241,241,1)), color-stop(56%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
/* Chrome,Safari4+ */
background:-webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 40%,rgba(225,225,225,1) 56%,rgba(246,246,246,1) 100%);
background:   -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 40%,rgba(225,225,225,1) 56%,rgba(246,246,246,1) 100%);
background:     -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 40%,rgba(225,225,225,1) 56%,rgba(246,246,246,1) 100%);
background:        linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 40%,rgba(225,225,225,1) 56%,rgba(246,246,246,1) 100%);
/* Chrome10+,Safari5.1+ */
/* Opera 11.10+ */
/* IE10+ */
background:-webkit-gradient(linear,100% 100%,0 0,color-stop(rgba(255,255,255,1),0),color-stop(rgba(241,241,241,1),0.4),color-stop(rgba(225,225,225,1),0.56),color-stop(rgba(246,246,246,1),1));
background:-webkit-linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 40%,rgba(225,225,225,1) 56%,rgba(246,246,246,1) 100%);
background:   -moz-linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 40%,rgba(225,225,225,1) 56%,rgba(246,246,246,1) 100%);
background:     -o-linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 40%,rgba(225,225,225,1) 56%,rgba(246,246,246,1) 100%);
background:        linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 40%,rgba(225,225,225,1) 56%,rgba(246,246,246,1) 100%);
/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
/* IE6-9 fallback on horizontal gradient */
position:relative;
margin:8px 5px;
border:1px solid gray;
/*border-radius*/
-webkit-border-radius:0px 15px 0px 15px;
   -moz-border-radius:0px 15px 0px 15px;
        border-radius:0px 15px 0px 15px;
}
.DataGrid .data .mainValue{
font-size:18px;
font-weight:bold;
padding:10px;
}
.DataGrid .data .commonValue{
margin:0px 25px;
}
.DataGrid .data .manageActions{
border-top:1px solid #FFE4E6;
border-top-right-radius:70px;
margin:5px -2px;
padding:2px 8px;
}
.DataGrid .treeChild{
border:1px solid #FFE4E6;
/*border-radius*/
-webkit-border-radius:5px 5px 5px 5px;
   -moz-border-radius:5px 5px 5px 5px;
        border-radius:5px 5px 5px 5px;
margin:5px auto;
padding:5px;
width:97%;
}
.DataGrid .TreeParent{
width:100%;
margin:0 auto;
}
.DataGrid .showTooltip{
display:none;
}
.DataGrid table tbody  tr td.searchableGrid:hover .showTooltip{
background:none repeat scroll 0 0 black;
border:2px solid #161C87;
/*border-radius*/
-webkit-border-radius:6px 6px 6px 6px;
   -moz-border-radius:6px 6px 6px 6px;
        border-radius:6px 6px 6px 6px;
bottom:20px;
color:white;
display:block;
opacity:0.58;
padding:3px;
position:absolute;
right:-2%;
text-align:center;
width:100%;
}
.DataGrid table thead  tr.cg_header th:last-child, .DataGrid table tbody  tr td:last-child{
border-left:none;
}
.DataGrid table thead  tr.cg_header th:first-child, .DataGrid table tbody  tr td:first-child{
border-right:none;
}
.DataGrid table thead  tr.cg_header th{
height:25px;
padding:0px 5px;
border-bottom:1px solid #CCCCCC;
}
.DataGrid table thead  tr.cg_header th a{
color:red;
display:block;
padding:2px 5px;
line-height:25px;
}
.DataGrid table thead  tr.cg_header th  a{
background:url('../img/sort.png') no-repeat center right;
}
.DataGrid table thead  tr.cg_header th  a.asc{
background:url('../img/sort-asc.png') no-repeat center right;
}
.DataGrid table thead  tr.cg_header th  a.desc{
background:url('../img/sort-desc.png') no-repeat center right;
}
.DataGrid table tbody  tr.cg_row td{
border-bottom:1px dotted #ccc;
}
.DataGrid table tbody  tr.cg_row:last-child td{
border-bottom:none;
}
.DataGrid table thead  tr.tableHeader th{
padding:10px 5px;
}
.DataGrid table thead  tr.tableHeader th div.Col{
height:22px;
line-height:22px;
padding-right:30px;
min-width:100px;
}
.DataGrid table thead  tr.tableHeader th div.RowNumber{
height:22px;
line-height:22px;
}
.DataGrid table thead  tr.tableHeader th span.Scroller{
cursor:e-resize;
width:2px;
height:22px;
float:right;
}
.DataGrid table thead  tr.tableHeader th span.RTL{
float:left;
}
.DataGrid table thead  tr.tableHeader th  div.Sorter{
cursor:pointer;
float:left;
height:16px;
width:16px;
margin:2px 5px;
border:1px solid transparent;
}
.DataGrid table thead  tr.tableHeader th  div.Sorter:hover{
border:1px solid #fff;
outline:1px solid #ddd;
}
.DataGrid table thead  tr.tableHeader th div.RTL{
float:right;
margin:2px 5px 0px 0px;
}
.DataGrid table colgroup{
width:100%;
}
.DataGrid table tbody  tr.odd{
border-bottom:1px solid #f7f7f7;
}
.DataGrid table tbody  tr:hover{
color:#000;
}
.DataGrid > .Footer{
border:1px solid gray;
/*border-radius*/
-webkit-border-radius:0px 15px 0px 15px;
   -moz-border-radius:0px 15px 0px 15px;
        border-radius:0px 15px 0px 15px;
display:block;
font-weight:bold;
margin-right:10px;
min-width:1024px;
width:98%;
height:45px;
position:relative;
}
.DataGrid > .Footer > div{
display:block;
line-height:20px;
float:right;
margin-top:11px;
}
.DataGrid > .Footer > #pager{
float:left;
width:70px;
}
.DataGrid > .Footer > .next{
display:block;
height:27px;
left:38px;
position:absolute;
width:32px;
top:7px;
}
.DataGrid > .Footer > .next a{
display:block;
height:29px;
text-decoration:none;
width:32px;
}
.DataGrid > .Footer > .prev{
display:block;
height:29px;
left:1px;
position:absolute;
width:32px;
top:6px;
}
.DataGrid > .Footer > .prev a{
display:block;
height:29px;
text-decoration:none;
width:32px;
}
.DataGrid > .Footer  .numbers{
display:block;
}
.DataGrid div.Footer .numbers  span{
padding:5px 7px;
display:inline-block;
//
	background:-moz-linear-gradient(center top , #EFEFEF, #CACACA) repeat scroll 0 0 transparent;
background:url('/Core/img/patterns/bg.png');
border:1px solid #BBBBBB;
/*box-shadow*/
-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
        box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
margin:2px 3px;
border:1px solid #666;
}
.DataGrid div.Footer .numbers  span > a{
color:#fff;
}
.DataGrid div.Footer .numbers  span.current{
color:#222;
text-shadow:0px 1px 2px #fff;
/*linear-gradient*/
background:-webkit-gradient(linear,,from(#FFD68F),color-stop(#FFA200),0));
background:-webkit-linear-gradient(center top , #FFD68F, #FFA200) repeat scroll 0 0 transparent;
background:   -moz-linear-gradient(center top , #FFD68F, #FFA200) repeat scroll 0 0 transparent;
background:     -o-linear-gradient(center top , #FFD68F, #FFA200) repeat scroll 0 0 transparent;
background:        linear-gradient(center top , #FFD68F, #FFA200) repeat scroll 0 0 transparent;
}
.DataGrid .cg_row .button{
height:20px;
line-height:20px;
padding:0 5px;
font-size:10px;
font-weight:normal;
}
.DataGrid a{
text-decoration:none;
}
#MCakeGridInfo,#MCakeGridPageStep,#MCakeGridPageNumber{
padding:5px 8px;
}
.dataTables_length{
float:right;
height:50px;
direction:ltr;
width: 360px;
}
.dataTables_filter{
float:left;
height:50px;
margin-left:6px;
direction:ltr;
width: 360px;
}
.dataTables_length label, .dataTables_filter label{
background:none repeat scroll 0 0 transparent;
display:inline-block;
font-size:13px;
height:22px;
margin-right:4px;
padding-left:10px;
line-height:8px;
text-align:left;
}
.dataTables_length select, .dataTables_filter input{
/*border-radius*/
-webkit-border-radius:2px 2px 2px 2px;
   -moz-border-radius:2px 2px 2px 2px;
        border-radius:2px 2px 2px 2px;
/*box-shadow*/
-webkit-box-shadow:1px 1px 3px #CCCCCC;
   -moz-box-shadow:1px 1px 3px #CCCCCC;
        box-shadow:1px 1px 3px #CCCCCC;
float:right;
margin-bottom:1em;
margin-right:4px;
}
.dataTables_info{
background:none repeat scroll 0 0 #FAFAFA;
border-top:1px solid gainsboro;
color:steelblue;
direction:ltr;
padding-left:5px;
text-align:left;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
.clear{
clear:both;
}
.ColVis{
float:right;
/*border-radius*/
-webkit-border-radius:2px 2px 2px 2px;
   -moz-border-radius:2px 2px 2px 2px;
        border-radius:2px 2px 2px 2px;
/*box-shadow*/
-webkit-box-shadow:1px 1px 3px #CCCCCC;
   -moz-box-shadow:1px 1px 3px #CCCCCC;
        box-shadow:1px 1px 3px #CCCCCC;
margin:23px 0px 30px 5px;
}
.ColVis_Button{
position:relative;
float:left;
padding:3px 5px;
height:27px;
background-color:#fff;
border:1px solid #d0d0d0;
cursor:pointer;
*cursor:hand;
}
button.ColVis_Button::-moz-focus-inner{
border:none !important;
padding:0;
}
.ColVis_text_hover{
border:1px solid #999;
background-color:#f0f0f0;
}
div.ColVis_collectionBackground{
background-color:black;
z-index:1100;
}
div.ColVis_collection{
position:relative;
width:150px;
background-color:#f3f3f3;
padding:3px;
border:1px solid #ccc;
z-index:1102;
}
div.ColVis_collection button.ColVis_Button{
background-color:white;
float:none;
font-size:14px;
margin-bottom:2px;
text-align:right;
width:100% !important;
}
a .ColVis_title{
text-decoration:none;
}
div.ColVis_catcher{
position:absolute;
z-index:1101;
cursor:pointer;
}
.disabled{
color:#999;
}
button.ColVis_Button{
cursor:pointer;
text-align:left;
border:1px solid #999 !important;
background-color:#f0f0f0 !important;
}
div.ColVis_collection button.ColVis_Button:hover{
border:1px solid #999 !important;
background-color:#f0f0f0 !important;
}
span.ColVis_radio{
display:inline-block;
width:20px;
}
/*
 * File:        TableTools.css
 * Description: Styles for TableTools 2
 * Author:      Allan Jardine (www.sprymedia.co.uk)
 * Language:    Javascript
 * License:     GPL v2 / 3 point BSD
 * Project:     DataTables
 * 
 * Copyright 2009-2012 Allan Jardine, all rights reserved.
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * CSS name space:
 *   DTTT                  DataTables TableTools
 *
 * Style sheet provides:
 *   CONTAINER             TableTools container element and styles applying to all components
 *   BUTTON_STYLES         Action specific button styles
 *   SELECTING             Row selection styles
 *   COLLECTIONS           Drop down list (collection) styles
 *   PRINTING              Print display styles
 */


/*
 * CONTAINER
 * TableTools container element and styles applying to all components
 */
div.DTTT_container{
position:relative;
float:right;
margin:23px 0px 30px 5px;
}
button.DTTT_button,
div.DTTT_button,
a.DTTT_button{
position:relative;
float:left;
margin-right:3px;
padding:5px 8px;
border:1px solid #999;
cursor:pointer;
*cursor:hand;
font-size:0.88em;
color:black !important;
/*border-radius*/
-webkit-border-radius:2px;
   -moz-border-radius:2px;
        border-radius:2px;
/*box-shadow*/
-webkit-box-shadow:1px 1px 3px #ccc;
   -moz-box-shadow:1px 1px 3px #ccc;
        box-shadow:1px 1px 3px #ccc;
/* Generated by http://www.colorzilla.com/gradient-editor/ */
background:#ffffff;
/* Old browsers */
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,color-stop(#ffffff,0),color-stop(#f3f3f3,0.89),color-stop(#f9f9f9,1));
background:-webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
background:   -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
background:     -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
background:        linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
/* Chrome10+,Safari5.1+ */
/* FF3.6+ */
/* IE10+ */
/* Opera 11.10+ */
/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
/* IE6-9 */
:;
}
/* Buttons are cunning border-box sizing - we can't just use that for A and DIV due to IE6/7 */
button.DTTT_button{
height:30px;
padding:3px 8px;
}
.DTTT_button embed{
outline:none;
}
button.DTTT_button:hover,
div.DTTT_button:hover,
a.DTTT_button:hover{
border:1px solid #666;
text-decoration:none !important;
/*box-shadow*/
-webkit-box-shadow:1px 1px 3px #999;
   -moz-box-shadow:1px 1px 3px #999;
        box-shadow:1px 1px 3px #999;
background:#f3f3f3;
/* Old browsers */
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,color-stop(#f3f3f3,0),color-stop(#e2e2e2,0.89),color-stop(#f4f4f4,1));
background:-webkit-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%);
background:   -moz-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%);
background:     -o-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%);
background:        linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%);
/* Chrome10+,Safari5.1+ */
/* FF3.6+ */
/* IE10+ */
/* Opera 11.10+ */
/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 );
/* IE6-9 */
:;
}
button.DTTT_disabled,
div.DTTT_disabled,
a.DTTT_disabled{
color:#999;
border:1px solid #d0d0d0;
background:#ffffff;
/* Old browsers */
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,color-stop(#ffffff,0),color-stop(#f9f9f9,0.89),color-stop(#fafafa,1));
background:-webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%);
background:   -moz-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%);
background:     -o-linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%);
background:        linear-gradient(top, #ffffff 0%,#f9f9f9 89%,#fafafa 100%);
/* Chrome10+,Safari5.1+ */
/* FF3.6+ */
/* IE10+ */
/* Opera 11.10+ */
/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );
/* IE6-9 */
:;
}
/*
 * BUTTON_STYLES
 * Action specific button styles
 * If you want images - comment this back in */

button.DTTT_button_csv,
button.DTTT_button_xls,
button.DTTT_button_copy,
button.DTTT_button_pdf,
button.DTTT_button_print{
padding-right:0px;
}
button.DTTT_button_csv span,
button.DTTT_button_xls span,
button.DTTT_button_copy span,
button.DTTT_button_pdf span,
button.DTTT_button_print span{
display:inline-block;
height:24px;
line-height:24px;
padding-right:30px;
}
/*
 * SELECTING
 * Row selection styles
 */
table.DTTT_selectable tbody tr{
cursor:pointer;
*cursor:hand;
}
table.dataTable tr.DTTT_selected.odd{
background-color:#9FAFD1;
}
table.dataTable tr.DTTT_selected.odd td.sorting_1{
background-color:#9FAFD1;
}
table.dataTable tr.DTTT_selected.odd td.sorting_2{
background-color:#9FAFD1;
}
table.dataTable tr.DTTT_selected.odd td.sorting_3{
background-color:#9FAFD1;
}
table.dataTable tr.DTTT_selected.even{
background-color:#B0BED9;
}
table.dataTable tr.DTTT_selected.even td.sorting_1{
background-color:#B0BED9;
}
table.dataTable tr.DTTT_selected.even td.sorting_2{
background-color:#B0BED9;
}
table.dataTable tr.DTTT_selected.even td.sorting_3{
background-color:#B0BED9;
}
/*
 * COLLECTIONS
 * Drop down list (collection) styles
 */

div.DTTT_collection{
width:150px;
padding:8px 8px 4px 8px;
border:1px solid #ccc;
border:1px solid rgba( 0, 0, 0, 0.4 );
background-color:#f3f3f3;
background-color:rgba( 255, 255, 255, 0.3 );
overflow:hidden;
z-index:2002;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
/*box-shadow*/
-webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
   -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
        box-shadow:3px 3px 5px rgba(0, 0, 0, 0.3);
}
div.DTTT_collection_background{
background:transparent url(../img/background.png) repeat top left;
z-index:2001;
}
div.DTTT_collection button.DTTT_button,
div.DTTT_collection div.DTTT_button,
div.DTTT_collection a.DTTT_button{
position:relative;
left:0;
right:0;
display:block;
float:none;
margin-bottom:4px;
/*box-shadow*/
-webkit-box-shadow:1px 1px 3px #999;
   -moz-box-shadow:1px 1px 3px #999;
        box-shadow:1px 1px 3px #999;
}
/*
 * PRINTING
 * Print display styles
 */

.DTTT_print_info{
position:fixed;
top:50%;
left:50%;
width:400px;
height:150px;
margin-left:-200px;
margin-top:-75px;
text-align:center;
color:#333;
padding:10px 30px;
background:#ffffff;
/* Old browsers */
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,color-stop(#ffffff,0),color-stop(#f3f3f3,0.89),color-stop(#f9f9f9,1));
background:-webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
background:   -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
background:     -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
background:        linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%);
/* Chrome10+,Safari5.1+ */
/* FF3.6+ */
/* IE10+ */
/* Opera 11.10+ */
/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
/* IE6-9 */
opacity:0.95;
border:1px solid black;
border:1px solid rgba(0, 0, 0, 0.5);
/*border-radius*/
-webkit-border-radius:6px;
   -moz-border-radius:6px;
        border-radius:6px;
/*box-shadow*/
-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.5);
   -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.5);
        box-shadow:0 3px 7px rgba(0, 0, 0, 0.5);
}
.DTTT_print_info h6{
font-weight:normal;
font-size:28px;
line-height:28px;
margin:1em;
}
.DTTT_print_info p{
font-size:14px;
line-height:20px;
}
.statusManager{
float:right;
margin:1px 10px 0 0;
width:18px;
}